<div class="row" ng-controller="CongruenceController">
    <div class="col-sm-12">
        <h1>{{Home.Title}}</h1>

        <div class="container">
            <!--Pedir número -->

            <p>Demuestre que si <b>n>=5</b>, es primo, entonces, <b>n</b> es congruente con <i>1 mod 6</i> o <b>n</b> es
                congruente con <i>5 mod 6</i></p>

            <div class="form-group row">
                <label for="number" class="col-sm-1 col-form-label">Número</label>

                <div class="col-sm-4">
                    <input type="number" class="form-control" id="number" ng-model="number" placeholder="Ingrese el número" />
                </div>

                <button type="button" class="btn btn-success col-sm-2" ng-click="Ejecutar()">Ejecutar</button>
            </div>

            <h2>{{esPrimo}}</h2>
            <div ng-show="primo">
                <h2>Es congruente?</h2>
                <div class="row">
                    <div class="col bg-info text-white border rounded">
                        <h3 align="center">{{number}} mod 6 = {{modUno}}</h3>
                    </div>
                    <div class="col order-12 bg-info text-white border rounded">
                        <h3 align="center">1 mod 6 = {{modDos}}</h3>
                    </div>
                    <div class="col order-12 bg-info text-white border rounded">
                        <h3 align="center">5 mod 6 = {{modTres}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>