<div class="row" ng-controller="ExercisesController">
    <div class="col-sm-12">
        <h1>{{Home.Title}}</h1>
        <br />

        <!--Mensaje -->

        <p>{{Message}}</p>
       
        <!-- Tabla -->
        <h3>Contador de caracteres</h3>
        <div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Caracter</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in Characters">
                        <td>{{fila.id}}</td>
                        <td>{{fila.value}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <p>{{Replaced[0]}}</p>

        <!-- Tabla -->
        <h3>Contador de palabras de tres letras que inician por el caracter más repetido</h3>
        <div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Palabra</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in Words">
                        <td>{{fila.id}}</td>
                        <td>{{fila.value}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <p>{{Replaced[1]}}</p>

        <h3>Caracter r por t*ee</h3>

        <p>{{Replaced[2]}}</p>

        <h3>Dado thetreethr***h, posiblemente la palabra se complete como through</h3>

        <p>{{Replaced[3]}}</p>

        <h3>Dado treethroughthe*hot, posiblemente se complete como treethroughtheshot</h3>

        <p>{{Replaced[4]}}</p>

        <h3>Dado goo** , posiblemente se complete como good</h3>

        <p>{{Replaced[5]}}</p>

        <h3>Dado th6rtee*96*utes , posiblemente se complete como thirteen minutes</h3>

        <p>{{Replaced[6]}}</p>

        <h3>Dado 5good g05ss, posiblemente se complete como A good glass</h3>

        <p>{{Replaced[7]}}</p>

        <h3>Dado sideshoot1rom, posiblemente se complete sideshootfrom</h3>

        <p>{{Replaced[8]}}</p>

        <h3>Dado 2eelinefromthetreethrough, posiblemente se complete como bee line from the tree through</h3>

        <p>{{Replaced[9]}}</p>

        <h3>Dado thedeÂ¶ilssea, posiblemente se complete como the devils sea</h3>

        <p>{{Replaced[10]}}</p>

        <h3>Dado lefte:eofthedeath, posiblemente se complete como left eye of the death</h3>

        <p>{{Replaced[11]}}</p>
    </div>
</div>